{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ controller_name }}</h1>

        <div class="table-responsive">


            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>GameDate</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.id }}</td>
                        <td>{{ game.gameDate ? game.gameDate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                            <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('game_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
